<!DOCTYPE html>
<html>
    <head>
        <title><%= title %> | Page</title>
        <script src="js/bootstrap.js"></script>
        <script src="js/ace/ace.js" type="text/javascript" charset="utf-8"></script>
        <!-- <script src="js/ace/theme-monokai.js"></script> -->
        <link rel="stylesheet" href="css/bootstrap.css">
        <style type="text/css" media="screen">
          #editor {
            width: 98%;
            height: 40rem;
          }
      </style>
    </head>
    <body>
        <%- include('./partials/navbar.ejs') %>
        <h2>Add product Page</h2>
        <%- include('./partials/footer.ejs') %>
        
    </body>
</html>